<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Вхід в АІС Злагода</title>
</head>
<body>
    <div style="margin: 50px auto; width: 300px; text-align: center;">
        <h2>Авторизація в системі</h2>
        
        <form action="/auth" method="POST">
            <p>
                <label>Прізвище:</label><br>
                <input type="text" name="surname" required>
            </p>
            <p>
                <label>Ім'я:</label><br>
                <input type="text" name="name" required>
            </p>
            <p>
                <label>По батькові:</label><br>
                <input type="text" name="patronymic" required>
            </p>
            <p>
                <label>Пароль:</label><br>
                <input type="password" name="password" required>
            </p>
            <button type="submit">Увійти</button>
        </form>
    </div>
</body>
</html>